{block content}

<h1>Nesplnìné úkoly</h1>

<table>
    <thead>
    <tr>
        <th>Èas vytvoøení</th>
        <th>Úkol</th>
        <th>Pøiøazeno</th>
    </tr>
    </thead>
    <tbody>
    {foreach $tasks as $task}
    <tr>
        <td>{$task->created|date:'j. n. Y'}</td>
        <td>{$task->text}</td>
        <td>{$task->user->name}</td>
    </tr>
    {/foreach}
    </tbody>
</table>

{/block}