{var $title = 'Přehled úkolů'}
{block content}

<h1>Nesplněné úkoly</h1>

<table>
    <thead>
    <tr>
        <th>čas vytvoření</th>
        <th>úkol</th>
        <th>Přiřazeno</th>
    </tr>
    </thead>
    <tbody>
    {foreach $tasks as $task}
    <tr>
        <td>{$task->created|date:'j. n. Y'}</td>
        <td>{$task->text}</td>
        <td>{$task->user->name}</td>
    </tr>
    {/foreach}
    </tbody>
</table>

{/block}